<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Box</title>
    <script defer src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
    <!-- <script defer src="http://localhost:3000/socket.io/socket.io.js"></script> -->
    <script defer src="/cdn/scripts/chatBox.js"></script>
    <link rel="stylesheet" href="/cdn/css/chatBox.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h6 class="temporary"> Trial :: Chat Box Coming Soon... <h6>
        <div id="messageContainer"></div>
        <form id="sendContainer">
            <input type="text" id="inputMessage" placeholder='Enter Message'>
            <button type="submit" class="btn" id="send-button">Send</button>
        </form>
    <div>
</body>
</html>