    <!-- Button to Open the Modal-->
    <!--<input type="button" id="student" name="student" value="Enter" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">-->

<!-- The Modal -->
    <!-- Dismiss Button -->
<div class="modal-body">
    <div class="d-flex justify-content-end">
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    
    <!-- Modal Body -->
    <div class="container">
        <h1 class="text-center">SCORE</h1>
        <div class="d-flex justify-content-center">
            <span id="scoreValue"></span>
        </div>
        <h1 class="text-center">DISTRIBUTION</h1>
        <div id="guess-distribution">
            
    </div>
                    
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-sm-6 d-flex justify-content-start">
                    NEXT WORDLE
                </div>
            </div>
            <div class="col-sm-6 d-flex justify-content-xl-start font-weight-bold">
                <div><span id="remainingTime"></span></div>
            </div>

            <div class="col-sm-6 d-flex justify-content-end">
                <button type="button" class="btn btn-primary" onclick="location.href='/share'">
                    Share
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                        <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>   

</div>      