<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" " content="IE-edge">
    <link rel="stylesheet" href="/cdn/css/share.css">
    <script src="https://kit.fontawesome.com/3e10cea3d8.js" crossorigin="anonymous"></script>
    <title>Share Results with Friends in Social Media</title>
</head>
<body>
    <div class="container">
        <span class="buttons" id = "twitter"> <i class="fa fa-twitter">  </i>  </span>
        <span class="buttons" id = "telegram"> <i class="fa fa-telegram"> </i> </span>
        <span class="buttons" id = "whatsapp"> <i class="fa fa-whatsapp"> </i> </span>
        </div>
    <script src="/cdn/scripts/share.js"></script>
</body>
</html>